In [1]:
import pickle
import os

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from ipywidgets import interactive

# 데이터 로드

In [2]:
# with open("./K-MEDICON 2024_SUB1_TRAINING SET/Signal_Train.pkl", 'rb') as f:
with open("./dataset/Signal_Train.pkl", 'rb') as f:
    signal = pickle.load(f)

# with open("./K-MEDICON 2024_SUB1_TRAINING SET/Target_Train.pkl", 'rb') as f:
with open("./dataset/Target_Train.pkl", 'rb') as f:
    label = pickle.load(f)

label = label.Target.astype(int).to_list()

df = pd.read_csv("./label/custom_label_merge.csv")  # 이 파일은 오류 정정되지 않은 구버전임
df = df.drop(columns=['index'])

In [3]:
df.value_counts()

custom_label
a               1080
b                728
d                461
c                131
Name: count, dtype: int64

# 전체 데이터 확인

In [4]:
# Total

custom_label = df['custom_label'].values

def show_signal(index=0):
    signal_columns = signal[index].columns.to_list()

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"real_label: {label[index]} / custom_label:{custom_label[index]}", fontsize=16, color='red')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(signal[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.show()

interactive_plot = interactive(show_signal, index=(0, len(signal), 1))
display(interactive_plot)

interactive(children=(IntSlider(value=0, description='index', max=2400), Output()), _dom_classes=('widget-inte…

# 그룹별 데이터 확인

In [5]:
os.makedirs('./savefig', exist_ok=True)

In [6]:
a_df = df[(df['custom_label'] == 'a')]
b_df = df[(df['custom_label'] == 'b')]
c_df = df[(df['custom_label'] == 'c')]
d_df = df[(df['custom_label'] == 'd')]

In [7]:
a_index = a_df.index.to_list()
b_index = b_df.index.to_list()
c_index = c_df.index.to_list()
d_index = d_df.index.to_list()

In [8]:
a_group = []
b_group = []
c_group = []
d_group = []

for i in range(len(signal)):
    if i in a_index:
        a_group.append(signal[i])

    elif i in b_index:
        b_group.append(signal[i])

    elif i in c_index:
        c_group.append(signal[i])

    else:
        d_group.append(signal[i])

### A plot 저장

In [ ]:
### A 저장

for index in range(len(a_index)):
# for index in range(3):
    signal_columns = a_group[index].columns.to_list()
    label = a_df.custom_label[a_index[index]]

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"label {label.upper()}  /  Index {a_index[index]}", fontsize=16, color='black', weight='bold')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(a_group[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.savefig(f'./savefig/[{label}] index{a_index[index]}.jpg', dpi=250, bbox_inches='tight')
    # plt.show()

plt.close('all')

### Group B

In [9]:
# b group

def show_signal(index=0):
    signal_columns = b_group[index].columns.to_list()

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"Index {b_index[index]}", fontsize=16, color='red')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(b_group[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.show()

interactive_plot = interactive(show_signal, index=(0, len(b_group), 1))
display(interactive_plot)

interactive(children=(IntSlider(value=0, description='index', max=728), Output()), _dom_classes=('widget-inter…

### B plot 저장

In [ ]:
### B 저장

for index in range(len(b_index)):
# for index in range(3):
    signal_columns = b_group[index].columns.to_list()
    label = b_df.custom_label[b_index[index]]

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"label {label.upper()}  /  Index {b_index[index]}", fontsize=16, color='FireBrick', weight='bold')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(b_group[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.savefig(f'./savefig/[{label}] index{b_index[index]}.jpg', dpi=250, bbox_inches='tight')
    # plt.show()
    plt.close()

### Group C

In [10]:
# c group

def show_signal(index=0):
    signal_columns = c_group[index].columns.to_list()

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"Index {c_index[index]}", fontsize=16, color='red')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(c_group[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.show()

interactive_plot = interactive(show_signal, index=(0, len(c_group), 1))
display(interactive_plot)

interactive(children=(IntSlider(value=0, description='index', max=131), Output()), _dom_classes=('widget-inter…

### C plot 저장

In [ ]:
### C 저장

for index in range(len(c_index)):
    signal_columns = c_group[index].columns.to_list()
    label = c_df.custom_label[c_index[index]]

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"label {label.upper()}  /  Index {c_index[index]}", fontsize=16, color='LightSalmon', weight='bold')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(c_group[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.savefig(f'./savefig/[{label}] index{c_index[index]}.jpg', dpi=250, bbox_inches='tight')
    # plt.show()
    plt.close()

### D plot 저장

In [ ]:
### D 저장

for index in range(len(d_index)):
# for index in range(3):
    signal_columns = d_group[index].columns.to_list()
    label = d_df.custom_label[d_index[index]]

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"label {label.upper()}  /  Index {d_index[index]}", fontsize=16, color='Tomato', weight='bold')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(d_group[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.savefig(f'./savefig/[{label}] index{d_index[index]}.jpg', dpi=250, bbox_inches='tight')
    # plt.show()
    plt.close()

# 그룹별 데이터 확인

In [ ]:
os.makedirs('./savefig', exist_ok=True)

In [ ]:
a_df = df[(df['custom_label'] == 'a')]
b_df = df[(df['custom_label'] == 'b')]
c_df = df[(df['custom_label'] == 'c')]
d_df = df[(df['custom_label'] == 'd')]

In [ ]:
a_index = a_df.index.to_list()
b_index = b_df.index.to_list()
c_index = c_df.index.to_list()
d_index = d_df.index.to_list()

In [ ]:
a_group = []
b_group = []
c_group = []
d_group = []

for i in range(len(signal)):
    if i in a_index:
        a_group.append(signal[i])

    elif i in b_index:
        b_group.append(signal[i])

    elif i in c_index:
        c_group.append(signal[i])

    else:
        d_group.append(signal[i])

### A plot 저장

In [ ]:
### A 저장

for index in range(len(a_index)):
# for index in range(3):
    signal_columns = a_group[index].columns.to_list()
    label = a_df.custom_label[a_index[index]]

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"label {label.upper()}  /  Index {a_index[index]}", fontsize=16, color='black', weight='bold')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(a_group[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.savefig(f'./savefig/[{label}] index{a_index[index]}.jpg', dpi=250, bbox_inches='tight')
    # plt.show()

plt.close('all')

# Label 확인

In [11]:
label_original = pd.DataFrame(label)
label_custom_abcd = pd.DataFrame(df)
label_custom_visually_check = pd.read_excel('./label/custom_label_merge (20240911 완료).xlsx')
label_custom_visually_check = label_custom_visually_check.drop(columns=['index #'])

label_original
label_custom_abcd
label_custom_visually_check

     custom_label  NEW_LABEL Unnamed: 3 Unnamed: 4 Unnamed: 5
0               b          1        NaN    N_LABEL        CNT
1               b          0        NaN          0       1309
2               c          1        NaN          1       1091
3               d          1        NaN          M         39
4               b          1        NaN        NaN        NaN
...           ...        ...        ...        ...        ...
2395            a          0        NaN        NaN        NaN
2396            d          1        NaN        NaN        NaN
2397            a          0        NaN        NaN        NaN
2398            a          0        NaN        NaN        NaN
2399            a          0        NaN        NaN        NaN

[2400 rows x 5 columns]

#### Origianl label 저장

In [ ]:
label_original.to_csv('./label/label_original.csv', index=False)
label_original.to_excel('./label/label_original.xlsx')

In [12]:
label_custom_abcd

     custom_label
0               b
1               b
2               c
3               d
4               b
...           ...
2395            a
2396            d
2397            a
2398            a
2399            a

[2400 rows x 1 columns]

In [13]:
label_total = label_original.copy()
label_total.columns = ['original']
label_total['abcd'] = label_custom_abcd['custom_label']
label_total['custom_new'] = label_custom_visually_check['NEW_LABEL']
label_total['remark'] = label_custom_visually_check['Unnamed: 3']

label_total.loc[label_total['abcd'].isin(['a', 'b']), 'check_abcd'] = 0
label_total.loc[label_total['abcd'].isin(['c', 'd']), 'check_abcd'] = 1
label_total['confirm_abcd'] = label_total.apply(lambda row: 'O' if row['original'] == row['check_abcd'] else 'X', axis=1)
label_total['confirm_newlabel'] = label_total.apply(lambda row: 'O' if row['original'] == row['custom_new'] else 'X', axis=1)

label_total

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
0,0,b,1,NaN,0.0,O,X
1,0,b,0,NaN,0.0,O,O
2,1,c,1,NaN,1.0,O,O
3,1,d,1,NaN,1.0,O,O
4,0,b,1,NaN,0.0,O,X
...,...,...,...,...,...,...,...
2395,0,a,0,NaN,0.0,O,O
2396,1,d,1,NaN,1.0,O,O
2397,0,a,0,NaN,0.0,O,O
2398,0,a,0,NaN,0.0,O,O
2399,0,a,0,NaN,0.0,O,O

In [14]:
# Custom ABCD 레이블 잘못 매겨진 항목
label_total[label_total['confirm_abcd'] == 'X']

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
241,1,a,0,NaN,0.0,X,X
365,1,b,1,NaN,0.0,X,O
853,1,a,0,NaN,0.0,X,X
958,1,b,1,NaN,0.0,X,O
1131,1,b,1,NaN,0.0,X,O
1203,1,b,1,NaN,0.0,X,O
1237,1,b,1,NaN,0.0,X,O
1252,1,b,1,NaN,0.0,X,O
1280,1,a,0,NaN,0.0,X,X

In [16]:
# 눈으로 직접 확인하면서 original label과 동일해진 항목
b_to_d = label_total[(label_total['confirm_abcd'] == 'X') & (label_total['confirm_newlabel'] == 'O')]
b_to_d

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
365,1,b,1,NaN,0.0,X,O
958,1,b,1,NaN,0.0,X,O
1131,1,b,1,NaN,0.0,X,O
1203,1,b,1,NaN,0.0,X,O
1237,1,b,1,NaN,0.0,X,O
1252,1,b,1,NaN,0.0,X,O

In [17]:
# original label == 1 (Artifact 존재) 인데 ‘a’로 분류된 항목
a_to_c = label_total[(label_total['confirm_abcd'] == 'X') & (label_total['confirm_newlabel'] == 'X')]
a_to_c

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
241,1,a,0,NaN,0.0,X,X
853,1,a,0,NaN,0.0,X,X
1280,1,a,0,NaN,0.0,X,X

In [18]:
# 조건에 맞는 행의 'abcd' 값을 각각 'd', 'c'로 변경
label_total.loc[(label_total['confirm_abcd'] == 'X') & (label_total['confirm_newlabel'] == 'O'), 'abcd'] = 'd'
label_total.loc[(label_total['confirm_abcd'] == 'X') & (label_total['confirm_newlabel'] == 'X'), 'abcd'] = 'c'

In [19]:
# 'd'로 변경된 것 확인
label_total[(label_total['confirm_abcd'] == 'X') & (label_total['confirm_newlabel'] == 'O')]

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
365,1,d,1,NaN,0.0,X,O
958,1,d,1,NaN,0.0,X,O
1131,1,d,1,NaN,0.0,X,O
1203,1,d,1,NaN,0.0,X,O
1237,1,d,1,NaN,0.0,X,O
1252,1,d,1,NaN,0.0,X,O

In [20]:
# 'c'로 변경된 것 확인
label_total[(label_total['confirm_abcd'] == 'X') & (label_total['confirm_newlabel'] == 'X')]

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
241,1,c,0,NaN,0.0,X,X
853,1,c,0,NaN,0.0,X,X
1280,1,c,0,NaN,0.0,X,X

In [21]:
# a로 되어있어서 검토 안되었으므로  index 241, 853, 1280 ECG data 확인 후 custom label 부여
label_total.loc[241, 'custom_new'] = 1
label_total.loc[853, 'custom_new'] = 1

In [22]:
# '1'로 변경된 것 확인
label_total[(label_total['confirm_abcd'] == 'X') & (label_total['confirm_newlabel'] == 'X')]

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
241,1,c,1,NaN,0.0,X,X
853,1,c,1,NaN,0.0,X,X
1280,1,c,0,NaN,0.0,X,X

In [23]:
# Remark에 'M' 기입된 항목 확인
label_total[~label_total['remark'].isna()]

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
66,0,b,0,M,0.0,O,O
102,0,b,0,M,0.0,O,O
246,0,b,0,M,0.0,O,O
285,0,b,0,M,0.0,O,O
442,0,b,0,M,0.0,O,O
495,0,b,0,M,0.0,O,O
536,0,b,0,M,0.0,O,O
551,0,b,0,M,0.0,O,O
567,0,b,0,M,0.0,O,O
686,0,b,0,M,0.0,O,O
720,0,b,0,M,0.0,O,O
755,0,b,1,M,0.0,O,X
816,0,b,0,M,0.0,O,O
842,0,b,0,M,0.0,O,O
861,0,b,0,M,0.0,O,O
875,0,b,0,M,0.0,O,O
903,0,b,1,M,0.0,O,X
929,0,b,0,M,0.0,O,O
996,0,b,0,M,0.0,O,O
1044,0,b,0,M,0.0,O,O
1046,0,b,0,M,0.0,O,O
1069,0,b,1,M,0.0,O,X
1074,0,b,0,M,0.0,O,O
1217,0,b,0,M,0.0,O,O
1244,0,b,0,M,0.0,O,O
1249,0,b,0,M,0.0,O,O
1379,0,b,0,M,0.0,O,O
1384,0,b,0,M,0.0,O,O
1443,0,b,0,M,0.0,O,O
1517,0,b,0,M,0.0,O,O
1528,0,b,1,M,0.0,O,X
1589,0,b,0,M,0.0,O,O
1605,0,b,0,M,0.0,O,O
1610,0,b,1,M,0.0,O,X
1626,0,b,0,M,0.0,O,O
1685,0,b,0,M,0.0,O,O
1747,0,b,0,M,0.0,O,O
2039,0,b,1,M,0.0,O,X
2312,0,b,1,M,0.0,O,X

In [24]:
print(f"============== Remark label =============== \n{label_total[~label_total['remark'].isna()].iloc[:, :4].value_counts()}")

============== Remark label ===============
original  abcd  custom_new  remark
0         b     0           M         32
                1           M          7
Name: count, dtype: int64

In [25]:
print(f"==== Original label ==== \n{label_total.original.value_counts()}")
print()
print(f"==== Custom ABCD label ==== \n{label_total.abcd.value_counts()}")
print()
print(f"==== Custom NEW label ==== \n{label_total.custom_new.value_counts()}")

==== Original label ====
original
0    1799
1     601
Name: count, dtype: int64

==== Custom ABCD label ====
abcd
a    1077
b     722
d     467
c     134
Name: count, dtype: int64

==== Custom NEW label ====
custom_new
0    1307
1    1093
Name: count, dtype: int64

In [26]:
label_final = label_total.iloc[:, :4]
label_final

      original abcd  custom_new remark
0            0    b           1    NaN
1            0    b           0    NaN
2            1    c           1    NaN
3            1    d           1    NaN
4            0    b           1    NaN
...        ...  ...         ...    ...
2395         0    a           0    NaN
2396         1    d           1    NaN
2397         0    a           0    NaN
2398         0    a           0    NaN
2399         0    a           0    NaN

[2400 rows x 4 columns]

#### Final total label 저장

In [ ]:
label_final.to_csv('./label/total_label_20240912.csv', index=False)
label_final.to_excel('./label/total_label_20240912.xlsx')

In [27]:
# Original label -> Custom label : 레이블 변경된 항목
label_changed = label_total[label_total['confirm_newlabel'] == 'X']
label_changed

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
0,0,b,1,NaN,0.0,O,X
4,0,b,1,NaN,0.0,O,X
5,0,b,1,NaN,0.0,O,X
9,0,b,1,NaN,0.0,O,X
16,0,b,1,NaN,0.0,O,X
...,...,...,...,...,...,...,...
2315,0,b,1,NaN,0.0,O,X
2328,0,b,1,NaN,0.0,O,X
2344,0,b,1,NaN,0.0,O,X
2345,0,b,1,NaN,0.0,O,X
2358,0,b,1,NaN,0.0,O,X

#### 변경된 data label 저장

In [ ]:
label_changed.to_csv('./label/changed_label_20240912.csv', index=False)
label_changed.to_excel('./label/changed_label_20240912.xlsx')

In [29]:
label_total

,original,abcd,custom_new,remark,check_abcd,confirm_abcd,confirm_newlabel
0,0,b,1,NaN,0.0,O,X
1,0,b,0,NaN,0.0,O,O
2,1,c,1,NaN,1.0,O,O
3,1,d,1,NaN,1.0,O,O
4,0,b,1,NaN,0.0,O,X
...,...,...,...,...,...,...,...
2395,0,a,0,NaN,0.0,O,O
2396,1,d,1,NaN,1.0,O,O
2397,0,a,0,NaN,0.0,O,O
2398,0,a,0,NaN,0.0,O,O
2399,0,a,0,NaN,0.0,O,O

#### Final label 단독 저장

In [30]:
label_final_customnew = label_total['custom_new']
label_final_customnew

0       1
1       0
2       1
3       1
4       1
       ..
2395    0
2396    1
2397    0
2398    0
2399    0
Name: custom_new, Length: 2400, dtype: int64

In [31]:
label_final_customnew.to_csv('./label/final_custom_label_20240912.csv', index=False)
label_final_customnew.to_excel('./label/final_custom_label_20240912.xlsx')

### Label M

In [3]:
total = pd.read_csv('./label/total_label_20240912.csv')
total

      original abcd  custom_new remark
0            0    b           1    NaN
1            0    b           0    NaN
2            1    c           1    NaN
3            1    d           1    NaN
4            0    b           1    NaN
...        ...  ...         ...    ...
2395         0    a           0    NaN
2396         1    d           1    NaN
2397         0    a           0    NaN
2398         0    a           0    NaN
2399         0    a           0    NaN

[2400 rows x 4 columns]

In [9]:
m_df = total[(~total.remark.isna()) & (total.custom_new == 1)]
m_df

      original abcd  custom_new remark
755          0    b           1      M
903          0    b           1      M
1069         0    b           1      M
1528         0    b           1      M
1610         0    b           1      M
2039         0    b           1      M
2312         0    b           1      M

In [8]:
len(m_df.index)

39

In [ ]:
m_index = m_df.index.to_list()

In [ ]:
def show_signal(index=0):
    signal_columns = b_group[index].columns.to_list()

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"Index {b_index[index]}", fontsize=16, color='red')

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(b_group[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.show()

interactive_plot = interactive(show_signal, index=(0, len(b_group), 1))
display(interactive_plot)

interactive(children=(IntSlider(value=0, description='index', max=728), Output()), _dom_classes=('widget-inter…

# PUBLIC TEST DATASET

In [12]:
with open("./dataset/Signal_Test_Public.pkl", 'rb') as f:
    public_signal = pickle.load(f)

In [13]:
len(public_signal)

300

## Public Test set 데이터 확인

In [17]:
# Total

def show_public_signal(index=0):
    signal_columns = public_signal[index].columns.to_list()

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"Public Test set - index {index}", fontsize=16, color='#F55F82', weight="bold")

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(public_signal[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.show()

interactive_plot = interactive(show_public_signal, index=(0, len(public_signal), 1))
display(interactive_plot)

interactive(children=(IntSlider(value=0, description='index', max=300), Output()), _dom_classes=('widget-inter…

### plot 저장

In [ ]:
### Public Test set 저장

for index in range(len(public_signal)):
# for index in range(3):
    signal_columns = public_signal[index].columns.to_list()

    fig, axes = plt.subplots(6, 2, figsize=(20, 11))
    fig.suptitle(f"Public Test set - index {index}", fontsize=16, color='#3DA091', weight="bold")

    for row in range(6):
        for col in range(2):
            i = row * 2 + col
            ax = axes[row][col]

            ax.plot(public_signal[index][signal_columns[i]])
            ax.set(title=f"{signal_columns[i]}")

    plt.tight_layout()
    plt.savefig(f'./savefig/Public_Testset_index {index}.jpg', dpi=250, bbox_inches='tight')
    # plt.show()

plt.close('all')